<div class="tm-top-header">
      <div class="container">
        <div class="row">
          <div class="tm-top-header-inner">
            <div class="tm-logo-container">
              <img src="/assets/images/logo.jpg" alt="Logo" class="tm-site-logo">
              <h1 class="tm-site-name tm-handwriting-font">E - KALY</h1>
            </div>
            <div class="mobile-menu-icon">
              <i class="fa fa-bars"></i>
            </div>
            <nav class="tm-nav">
              <ul>
                <li><a href="index.html" class="active">Acceuil</a></li>
                <li><a href="menu.html">Menu</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a [routerLink]="'/login'">login</a></li>
              </ul>
            </nav>   
          </div>           
        </div>    
      </div>
</div>

<section class="tm-welcome-section">
    <div class="container tm-position-relative">
      <div class="tm-lights-container">
        <img src="/assets/images/light.png" alt="Light" class="light light-1">
        <img src="/assets/images/light.png" alt="Light" class="light light-2">
        <img src="/assets/images/light.png" alt="Light" class="light light-3">  
      </div>        
      <div class="row tm-welcome-content">
        <h2 class="white-text tm-handwriting-font tm-welcome-header"><img src="/assets/images/header-line.png" alt="Line" class="tm-header-line">&nbsp;<span id="text-welcome">{{text_welcome}}</span>&nbsp;&nbsp;<img src="/assets/images/header-line.png" alt="Line" class="tm-header-line"></h2>
        <h2 class="gold-text tm-welcome-header-2">
            E - KALY
        </h2>
        <p class="gray-text tm-welcome-description" id="text-banniere">
        
        </p>
        <a href="#main" class="tm-more-button tm-more-button-welcome">Details</a>      
      </div>
      <img src="assets/images/table-set.png" alt="Table Set" class="tm-table-set img-responsive">             
    </div>      
  </section>