<div class="tm-main-section light-gray-bg">
    <div class="container" id="main">
<section class="tm-section tm-section-margin-bottom-0 row">
    <div class="col-lg-12 tm-section-header-container">
      <h2 class="tm-section-header gold-text tm-handwriting-font"><img src="assets/images/favicon.ico" alt="Logo" class="tm-site-logo"> Popular Items</h2>
      <div class="tm-hr-container"><hr class="tm-hr"></div>
    </div>
    <div class="col-lg-12 tm-popular-items-container">
      <app-card-menu nom="americano" details="Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum" image="/assets/images/popular-1.jpg"></app-card-menu>
      <app-card-menu nom="cappuccino" details="Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum" image="/assets/images/popular-2.jpg"></app-card-menu>
      <app-card-menu nom="mocha" details="Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum" image="/assets/images/popular-3.jpg"></app-card-menu> 
    </div>          
  </section>
  <section class="tm-section">
    <div class="row">
      <div class="col-lg-12 tm-section-header-container">
        <h2 class="tm-section-header gold-text tm-handwriting-font"><img src="assets/images/favicon.ico" alt="Logo" class="tm-site-logo"> Menu du Jour</h2> 
        <div class="tm-hr-container"><hr class="tm-hr"></div> 
      </div>  
    </div>          
    <div class="row">
      <div class="tm-daily-menu-container margin-top-60 row" >
        <div class="col-lg-4 col-md-4">
          <img src="assets/images/menu-board.png" alt="Menu board" class="tm-daily-menu-img">      
        </div>            
        <div class="col-md-8">
          <p>Nous vous proposant dans cette partie un menu que nous avons concocter rien que pour vous chaque jour</p>
          <ol class="margin-top-30">
            <li>Poulet confit - Restaurant Chez Alison</li> 
            <li>Canard au poivre vert - Restaurant Alibaba</li>
            <li>Foie gras - Restaurant Marmite sacrer</li> 
            <li>Carcasse de crevette accompagnées de spagetty - Resataurant La marée</li> 
          </ol>
          <a href="#" class="tm-more-button margin-top-30">Read More</a> 

        </div>
      </div>
    </div>          
  </section>
  </div>
</div>